{% extends "index.html" %}
{% block content %}

<div class="container pt-5">
  <h1 class="text-center" style="color: #8CE17D;">Crop Recommendation</h1>
  <p class="text-center pt-3">
    Select the season and soil type to get the best crop recommendation.
  </p>
</div>

<br>
<br>

<div class="container">

  <div class="col-md-4 col-md-offset-4" style="float: right; margin-top: 5%; margin-right: 10%;margin-bottom: 5%;">
    <img src="./static/images/upload-img.jpg" width="500" height="333">
  </div>

  <form action="/crop-recommendation" method="POST" style="margin-top: 5%">

    <!-- Season Selection -->

    <div class="col-md-4 col-md-offset-4">
      <label for="season">Select Season :</label>
      <select class="form-control" name="season" required>
        <option value="">-- Select Season --</option>
        <option value="Kharif">Kharif</option>
        <option value="Rabi">Rabi</option>
        <option value="Summer">Summer</option>
      </select>
    </div>

    <br><br>

    <!-- Soil Type Selection -->

    <div class="col-md-4 col-md-offset-4">
      <label for="soil_type">Select Soil Type :</label>
      <select class="form-control" name="soil_type" required>
        <option value="">-- Select Soil Type --</option>
        <option value="Black">Black Soil</option>
        <option value="Clayey">Clayey Soil</option>
        <option value="Loamy">Loamy Soil</option>
        <option value="Red">Red Soil</option>
        <option value="Sandy">Sandy Soil</option>
      </select>
    </div>

    <br>
    <br>

    <div class="text-center" style="padding-top: 5%">
      <button type="submit" class="btn btn-success">Predict</button>
    </div>

    <br>
    <br>

  </form>

</div>

<br>
<br>

{% endblock %}